* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 16px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    height: 40px;
    width: 100%;
}

.content-middle {
    height: 100%;
}

.columns {
    display: flex;
    gap: 16px;
}

.columns-item {
    flex: 1;
}

.margin-y-base {
    margin-block: 16px;
}

.margin-bottom-base {
    margin-block: 16px;
}

.fixed-element {
    position: fixed;
    left: 0;
    bottom: 0vh;
    z-index: 2000;
    padding: 16px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    background-color: rgba(255, 0, 0, 0.1);
    z-index: 2;
}

.visual-viewport {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    outline: 10px dotted orange;
    outline-offset: -10px;
    z-index: 2;
    pointer-events: none;
}

.layout-viewport {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    outline: 10px dashed lightblue;
    outline-offset: -10px;
    z-index: 1;
    pointer-events: none;
}
